<!doctype HTML>
<html>
<head>
  <title>Tiny Concept</title>
  <link href="/static/default.css" rel="stylesheet" type="text/css" ></link>
</head>

<body>
{% block pageheader %}
<header>
<h1>Tiny Concept</h1>
<h2>{% block pagetitle %} Idea Backlog {% endblock %}</h2>
<!--nav>
<ul>
<li><a class="btn_new" href="#">add new</a></li>
</ul>
</nav-->
</header>
{% endblock %}

{% block maincontent %}
<p>...</p>
{% endblock %}

<footer>
<!--nav>
<ul>
<li><a class="btn_new" href="#">add new</a></li>
</ul>
</nav-->
</footer>
</body>

</html>